In [2]:
# Define the Employee class
class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.experience = experience

    # Method to describe employee
    def describe_employee(self):
        print(f"Employee Name: {self.name}")
        print(f"Employee Number: {self.number}")
        print(f"Address: {self.address}")
        print(f"Salary: {self.salary}")
        print(f"Post: {self.post}")
        print(f"Year of Joining: {self.year_of_joining}")
        print(f"Education: {self.education}")
        print(f"Years of Experience: {self.experience}")
        print("")

    # Method to update year of experience
    def update_year_of_experience(self, new_experience):
        self.experience = new_experience

    # Method to increase salary
    def increase_salary(self, increment):
        self.salary += increment

# Create an instance
employee101 = Employee('John Doe', '0321-2040-5088', '123 Elm St', 60000, 'Engineer', 2015, 'Bachelors', 5)

# Print four attributes individually
print(employee101.name)
print(employee101.number)
print(employee101.address)
print(employee101.salary)

# Call methods
employee101.describe_employee()
employee101.increase_salary(5000)
employee101.update_year_of_experience(6)
employee101.describe_employee()

# Create 10 different instances
employees = [
    Employee('Alice', '0321-1234-5678', '456 Pine St', 70000, 'Manager', 2010, 'Masters', 10),
    Employee('Bob', '0321-2345-6789', '789 Oak St', 50000, 'Analyst', 2018, 'Bachelors', 3),
    Employee('Charlie', '0321-3456-7890', '101 Maple St', 80000, 'Director', 2005, 'PhD', 15),
    Employee('David', '0321-4567-8901', '202 Birch St', 55000, 'Consultant', 2017, 'MBA', 4),
    Employee('Eva', '0321-5678-9012', '303 Cedar St', 45000, 'HR', 2019, 'Bachelors', 2),
    Employee('Frank', '0321-6789-0123', '404 Ash St', 75000, 'Lead Engineer', 2011, 'Masters', 9),
    Employee('Grace', '0321-7890-1234', '505 Elm St', 60000, 'Scientist', 2014, 'PhD', 6),
    Employee('Hank', '0321-8901-2345', '606 Fir St', 62000, 'Designer', 2016, 'Bachelors', 5),
    Employee('Ivy', '0321-9012-3456', '707 Spruce St', 67000, 'Marketing', 2012, 'Masters', 8),
    Employee('Jack', '0321-0123-4567', '808 Willow St', 78000, 'Developer', 2008, 'Bachelors', 12)
]

# Call describe_employee() for each
for emp in employees:
    emp.describe_employee()

# Update some attributes
employees[0].increase_salary(3000)
employees[1].update_year_of_experience(4)
employees[2].increase_salary(4000)
employees[0].describe_employee()
employees[1].describe_employee()
employees[2].describe_employee()

John Doe
0321-2040-5088
123 Elm St
60000
Employee Name: John Doe
Employee Number: 0321-2040-5088
Address: 123 Elm St
Salary: 60000
Post: Engineer
Year of Joining: 2015
Education: Bachelors
Years of Experience: 5

Employee Name: John Doe
Employee Number: 0321-2040-5088
Address: 123 Elm St
Salary: 65000
Post: Engineer
Year of Joining: 2015
Education: Bachelors
Years of Experience: 6

Employee Name: Alice
Employee Number: 0321-1234-5678
Address: 456 Pine St
Salary: 70000
Post: Manager
Year of Joining: 2010
Education: Masters
Years of Experience: 10

Employee Name: Bob
Employee Number: 0321-2345-6789
Address: 789 Oak St
Salary: 50000
Post: Analyst
Year of Joining: 2018
Education: Bachelors
Years of Experience: 3

Employee Name: Charlie
Employee Number: 0321-3456-7890
Address: 101 Maple St
Salary: 80000
Post: Director
Year of Joining: 2005
Education: PhD
Years of Experience: 15

Employee Name: David
Employee Number: 0321-4567-8901
Address: 202 Birch St
Salary: 55000
Post: Consultant
Year of Joining: 2017
Education: MBA
Years of Experience: 4

Employee Name: Eva
Employee Number: 0321-5678-9012
Address: 303 Cedar St
Salary: 45000
Post: HR
Year of Joining: 2019
Education: Bachelors
Years of Experience: 2

Employee Name: Frank
Employee Number: 0321-6789-0123
Address: 404 Ash St
Salary: 75000
Post: Lead Engineer
Year of Joining: 2011
Education: Masters
Years of Experience: 9

Employee Name: Grace
Employee Number: 0321-7890-1234
Address: 505 Elm St
Salary: 60000
Post: Scientist
Year of Joining: 2014
Education: PhD
Years of Experience: 6

Employee Name: Hank
Employee Number: 0321-8901-2345
Address: 606 Fir St
Salary: 62000
Post: Designer
Year of Joining: 2016
Education: Bachelors
Years of Experience: 5

Employee Name: Ivy
Employee Number: 0321-9012-3456
Address: 707 Spruce St
Salary: 67000
Post: Marketing
Year of Joining: 2012
Education: Masters
Years of Experience: 8

Employee Name: Jack
Employee Number: 0321-0123-4567
Address: 808 Willow St
Salary: 78000
Post: Developer
Year of Joining: 2008
Education: Bachelors
Years of Experience: 12

Employee Name: Alice
Employee Number: 0321-1234-5678
Address: 456 Pine St
Salary: 73000
Post: Manager
Year of Joining: 2010
Education: Masters
Years of Experience: 10

Employee Name: Bob
Employee Number: 0321-2345-6789
Address: 789 Oak St
Salary: 50000
Post: Analyst
Year of Joining: 2018
Education: Bachelors
Years of Experience: 4

Employee Name: Charlie
Employee Number: 0321-3456-7890
Address: 101 Maple St
Salary: 84000
Post: Director
Year of Joining: 2005
Education: PhD
Years of Experience: 15

In [3]:
# Define employees as dictionaries
employee101 = {
    'name': 'John Doe',
    'number': '0321-2040-5088',
    'address': '123 Elm St',
    'salary': 60000,
    'post': 'Engineer',
    'year_of_joining': 2015,
    'education': 'Bachelors',
    'experience': 5
}

# Print four attributes
print(employee101['name'])
print(employee101['number'])
print(employee101['address'])
print(employee101['salary'])

# Function to describe employee
def describe_employee(emp):
    print(f"Employee Name: {emp['name']}")
    print(f"Employee Number: {emp['number']}")
    print(f"Address: {emp['address']}")
    print(f"Salary: {emp['salary']}")
    print(f"Post: {emp['post']}")
    print(f"Year of Joining: {emp['year_of_joining']}")
    print(f"Education: {emp['education']}")
    print(f"Years of Experience: {emp['experience']}")
    print("")

# Function to update year of experience
def update_year_of_experience(emp, new_experience):
    emp['experience'] = new_experience

# Function to increase salary
def increase_salary(emp, increment):
    emp['salary'] += increment

# Call functions for employee101
describe_employee(employee101)
increase_salary(employee101, 5000)
update_year_of_experience(employee101, 6)
describe_employee(employee101)

# Create 10 different employee dictionaries
employees = [
    {'name': 'Alice', 'number': '0321-1234-5678', 'address': '456 Pine St', 'salary': 70000, 'post': 'Manager', 'year_of_joining': 2010, 'education': 'Masters', 'experience': 10},
    {'name': 'Bob', 'number': '0321-2345-6789', 'address': '789 Oak St', 'salary': 50000, 'post': 'Analyst', 'year_of_joining': 2018, 'education': 'Bachelors', 'experience': 3},
    {'name': 'Charlie', 'number': '0321-3456-7890', 'address': '101 Maple St', 'salary': 80000, 'post': 'Director', 'year_of_joining': 2005, 'education': 'PhD', 'experience': 15},
    # Add more employees...
]

# Describe each employee
for emp in employees:
    describe_employee(emp)

# Perform some updates
increase_salary(employees[0], 3000)
update_year_of_experience(employees[1], 4)
describe_employee(employees[0])
describe_employee(employees[1])

John Doe
0321-2040-5088
123 Elm St
60000
Employee Name: John Doe
Employee Number: 0321-2040-5088
Address: 123 Elm St
Salary: 60000
Post: Engineer
Year of Joining: 2015
Education: Bachelors
Years of Experience: 5

Employee Name: John Doe
Employee Number: 0321-2040-5088
Address: 123 Elm St
Salary: 65000
Post: Engineer
Year of Joining: 2015
Education: Bachelors
Years of Experience: 6

Employee Name: Alice
Employee Number: 0321-1234-5678
Address: 456 Pine St
Salary: 70000
Post: Manager
Year of Joining: 2010
Education: Masters
Years of Experience: 10

Employee Name: Bob
Employee Number: 0321-2345-6789
Address: 789 Oak St
Salary: 50000
Post: Analyst
Year of Joining: 2018
Education: Bachelors
Years of Experience: 3

Employee Name: Charlie
Employee Number: 0321-3456-7890
Address: 101 Maple St
Salary: 80000
Post: Director
Year of Joining: 2005
Education: PhD
Years of Experience: 15

Employee Name: Alice
Employee Number: 0321-1234-5678
Address: 456 Pine St
Salary: 73000
Post: Manager
Year of Joining: 2010
Education: Masters
Years of Experience: 10

Employee Name: Bob
Employee Number: 0321-2345-6789
Address: 789 Oak St
Salary: 50000
Post: Analyst
Year of Joining: 2018
Education: Bachelors
Years of Experience: 4